* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #380B61;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #380B61;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
}

/* Elemento de tag <body> */
body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 calc(100vw/4);
}

.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

 .campo-email, #experiencia {
    width: 90%;
} 

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin: 1em 0;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
    
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin: 1em auto 2em auto;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.finalizacao{
    display: flex;
}

.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

.mega-grupo{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: solid 1px;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin: 0 auto 4rem auto;
    max-width: 80vw;
    
}

.selecao-produto{
    display: inline-block;
    
}

.selecao-produto__item{
    padding-left: 2em;
}

.selecao-produto__status{
    display: none;
}
